@font-face {
    font-family: code;
    src: url(../fonts/GoogleSansCode-VariableFont_wght.ttf);
}
button.navbar-toggler {
  cursor: pointer;
}
$theme-colors: (
  "primary":    #6C63FF,
  "secondary":  #008080,
  "success":    #2ECC71,
  "info":       #3498DB,
  "warning":    #F39C12,
  "danger":     #E74C3C,
  "light":      #BDC3C7,
  "dark":       #1C1C1C
);
$font-family-base: code;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.bi {
   font-size: 64pt;
}
